* {
    margin:0;
    padding:0;
}
.logo{
    width:75px;
}
#intro{
  display:flex;
  align-items:center;
}
#intro h2{
  padding:15px;
  font-family:'Roboto', sans-serif;
  font-size:28px;
  color:white;
  text-shadow: #0528ec 2px 2px 4px;
}
#nav {
    background-color: rgba(12, 12, 95, 0.808);
    padding:10px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
}
a{
    text-decoration: none;
    color:white;
}

#menu .mainMenu{
    display:inline-block;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    font-size:22px;
    cursor: pointer;
    border-radius: 6px;

    transition:700ms;
}

#menu .mainMenu:hover{
    background-color: rgba(245, 245, 245, 0.090);
    transform:  scale(110%);
    text-shadow:red 1px 1px 5px;
    box-shadow: #111111 1px 1px 5px;
}
body{
    background-image: url("Images/bg5.jpg");
    background-size:cover;
}
#tint{
  background-color:rgba(6, 6, 165, 0.603);
  z-index: 2;
  height:100%;
}
#hero{
    height:fit-content;
    z-index: 5;
    display:flex;
    padding: 80px;
}
.title{
    color:white;
    font-family: sans-serif;
    text-align:left;
    font-size: 4vw;
    text-shadow:black 2px 2px 8px;
    cursor:default;
    text-shadow:red 3px 3px 8px;
    transition:600ms;
}
#subline{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:1.5vw;
    padding-top:10px;
}
#startText{
    height: fit-content;
    margin-right:10%;
    border-left:4px solid white;
    padding-left:4%;
    
    transition:ease-in-out 500ms;
}

#dropdown{
    display:inline-block;
    position:relative;
    height:fit-content; 
    cursor: pointer;
}
#contents{
    background-color: rgba(255, 255, 255, 0.466);
    visibility: hidden;
    position:absolute;
    width:100%;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
    border-radius:20px;
    padding:20px;
    font-size:15px;
    transform:scale(0%);
    transform-origin: top;
    transition: 500ms;
    z-index: 20;
}

#dropdown:hover #contents{
    visibility:visible;
    transform:scale(100%);
    
}
#contents ul li{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    padding:10px;
    text-align: center;
    transition:500ms;
    border-radius:10px;
}
#contents ul li:hover{
    background-color: rgba(9, 9, 185, 0.075);
    text-shadow:red 2px 2px 8px;
    box-shadow: #111111 1px 1px 6px;
}
#img{
    height:50%;
}
footer{
    background-color: rgb(1, 5, 27);
    height:150px;
    display:flex;
    justify-content: center;
}
footer h3{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    text-align:center;
    letter-spacing: 2px;
}
footer h4{
    color:white;
    font-family: 'Karla', sans-serif;
    font-size:14px;
    text-align: center;
    letter-spacing:2px;
    padding:5px;
}
#media img{
  width:25px;
  transition:200ms;
}
#media img:hover{
  filter:brightness(0.6)
}
#fb img{
  width:35px;
}
#media li{
  display:inline-block;
}
footer p{
  color:white;
  text-align: center;
  margin-top:30px;
}
#media{
  display:block;
  margin:auto;
  width:fit-content;
  margin-bottom:20px;
}

#layer{
    height:fit-content;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-right:2%;
}


.placeholder{
  width:85%;
  
  z-index: 5;
  margin:auto;
  margin-top:5vh;
  height:10px;
  background-color: #11111163;
  border-radius:10px;
}
#projects{
  height:fit-content;
  width:100%;
}
.box{
  margin: auto;
  height:fit-content;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1Fr));
  grid-column-gap:20px;
  grid-row-gap: 20px;
  padding:10px;
}
.headings{
  color:white;
  font-family: 'Roboto', sans-serif;
  font-size:3vw;
  text-align: center;
  padding:20px;
  text-shadow:#111111 2px 2px 8px;
  
}

.pro{
  height:400px;
  width:300px;
  background-color: rgba(255, 255, 255, 0.199);
  box-shadow: #111111 2px 2px 10px;
  padding:10px;
  text-align: center;
  border-radius: 10px;
  box-shadow: #111111 2px 2px 10px;
  margin:auto;
}
.pro .imag{
  width:240px;
  height:135px;
  overflow:hidden;
  background-image: url("Images/bg2.jpg");
  margin:10px auto;
  background-size: contain;
  
}
.pro h3{
  color:rgb(255, 255, 255);
  font-family:Arial, Helvetica, sans-serif;
  padding:10px;
  font-size:26px;
  text-shadow:rgb(4, 4, 56) 3px 3px 5px;
}
.pro p{
  color:#111111;
  font-family:Arial, Helvetica, sans-serif;
  padding-top:10px;
  font-size:18px;
  text-shadow: #11111163 1px 1px 10px;
}



/*slideshow*/


  
  .mySlides {
    display: none
  }
  img {
    vertical-align: middle;
  }
  .slideshow-container {
    width: 35vw;
    height: calc(40vw /16 * 9);
    overflow:hidden;
    position:relative;
    margin:auto;
    border-radius: 10px;
    box-shadow:#111111 2px 2px 10px;
    z-index: 4;
  }
  
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  /* Caption text */
  .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* Number text (1/3 etc) */
  .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  
  .active,
  .dot:hover {
    background-color: #111111;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }