* {
    margin:0;
    padding:0;
}
.logo{
    width:75px;
}
#intro{
  display:flex;
  align-items:center;
}
#intro h2{
  padding:15px;
  font-family:'Roboto', sans-serif;
  font-size:28px;
  color:white;
  text-shadow: #0528ec 2px 2px 4px;
}
#nav {
    background-color: rgba(12, 12, 95, 0.808);
    padding:10px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:fit-content;
}
a{
    text-decoration: none;
    color:white;
}

#menu .mainMenu{
    display:inline-block;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px;
    font-size:22px;
    cursor: pointer;
    border-radius: 6px;

    transition:700ms;
}

#menu .mainMenu:hover{
    background-color: rgba(245, 245, 245, 0.090);
    transform:  scale(110%);
    text-shadow:red 1px 1px 5px;
    box-shadow: #111111 1px 1px 5px;
}
#dropdown{
    display:inline-block;
    position:relative;
    height:fit-content; 
    cursor: pointer;
}
#contents{
    background-color: rgba(255, 255, 255, 0.466);
    visibility: hidden;
    position:absolute;
    width:100%;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.4);
    border-radius:20px;
    padding:20px;
    font-size:15px;
    transform:scale(0%);
    transform-origin: top;
    transition: 500ms;
    z-index: 20;
}

#dropdown:hover #contents{
    visibility:visible;
    transform:scale(100%);
    
}
#contents ul li{
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    padding:10px;
    text-align: center;
    transition:500ms;
    border-radius:10px;
}
#contents ul li:hover{
    background-color: rgba(9, 9, 185, 0.075);
    text-shadow:red 2px 2px 8px;
    box-shadow: #111111 1px 1px 6px;
}
footer{
    background-color: rgb(1, 5, 27);
    height:150px;
    display:flex;
    justify-content: center;
}
footer h3{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size:18px;
    text-align:center;
    letter-spacing: 2px;
}
footer h4{
    color:white;
    font-family: 'Karla', sans-serif;
    font-size:14px;
    text-align: center;
    letter-spacing:2px;
    padding:5px;
}
#media img{
  width:25px;
  transition:200ms;
}
#media img:hover{
  filter:brightness(0.6)
}
#media li{
  display:inline-block;
  padding:4px;
}
footer p{
  color:white;
  text-align: center;
  margin-top:30px;
}
#media{
  display:block;
  margin:auto;
  width:fit-content;
  margin-bottom:20px;
}

/*About page css*/

body{
  background-image: url("Images/bg.JPG");
  background-size: cover;
  width:100%;
}

main{
  background-color:rgba(6, 6, 165, 0.603);
  height: 100%;
  padding:20px;
}
#tint{
  width:60%;
  margin:auto;
}
.placeholder{
  width:85%;
  z-index: 5;
  margin:auto;
  margin-top:5vh;
  height:7px;
  background-color: #11111163;
  border-radius:10px;
}
#tint h1{
  height:100%;
  color:white;
  font-family: sans-serif;
  text-align:center;
  font-size: 4vw;
  cursor:default;
  text-shadow:red 3px 3px 8px;
  padding-top:20px;
  width: fit-content;
  margin:auto;
}
section{
  text-align:center;
  margin:40px auto;
  background-color: #11111149;
  border-radius:20px;
  padding:10px;
  box-shadow: #111111 3px 3px 8px;
}
section h2{
  color:white;
  font-family:'Roboto', sans-serif;
  font-size: 3.5vw;
  padding:10px;
  text-shadow: #111111 2px 2px 8px;
}
section p{
  color:white;
  font-family:'Rajdhani', sans-serif;
  font-size:1.5vw;
  padding-top:15px;
}
section ul{
  color:white;
  font-family:"Karla";
  font-size:1.5vw;
  width: fit-content;
  margin:auto;
  list-style: inside square;
}
section li{
  width:fit-content;
  padding:5px;
  font-style:italic;

}


  /*on tabs and other similar sized screens*/
  @media only screen and (max-width:780px){
    .mainMenu a {
      font-size: 2.4vw;
    }
    #intro h2{
      font-size: 20px;
      padding:10px;
    }
  }



  #mobile-menu{
    display:none;
  }
  #mobile-menu a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
    background-color: rgb(36, 33, 33);
    font-family: arial;
  }
  #mobile-menu a:hover{
    background-color: #251313;
  }
  
  /* Style the hamburger menu */
  #intro a.icon {
    background: black;
    display: none;
    padding:10px;
    background-color: transparent;
    font-size: 20px;
  }
  
  /* Add a grey background color on mouse-over */
  #mobile-menu a:hover {
    background-color: #ddd;
    color: black;
  }

#brand{
  display:flex;
  align-items:center;
}

  @media only screen and (max-width:640px){
    #menu{
      display:none;
    }
    #nav{
      display:block;
    }
    #nav{
      padding:0;
    }
    #intro{
      justify-content: space-between;
      padding:5px 3vw;
    }
    #intro a.icon{
      display:block;
    }
  }
  